.tovar_parent {
    color: #9e9e9e;
}

.tovar-title {
    color: #e81616;
    text-transform: uppercase;
}

.tovar_price {
    color: #e81616;
    font-size: 2rem;
    font-weight: 600;
    text-align: right;
}

.tovar_prop {
    text-transform: uppercase;
}

.btn-order {
    background: -webkit-gradient(linear, left top, right top, from(#fdbe00), to(#fea201));
    background: -webkit-linear-gradient(left, #fdbe00, #fea201);
    background: -o-linear-gradient(left, #fdbe00, #fea201);
    background: linear-gradient(to right, #fdbe00, #fea201);
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 500;
    padding: .5rem 1.5rem;
    color: black;
}

.btn-order:hover {
    color: white;
}

.msGallery {
    margin-bottom: 1rem;
}

.form-inline {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.tovar__brend {
    margin: .5rem 0;
}

.tovar_brand_val {
    float: right;
    font-weight: 600;
}

.tovar__article {
    margin: .5rem 0;
}

.form-btn-order {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding-top: 1rem;
}

.tovar__content {
    margin: 1rem 0;
}

@media (min-width: 768px) {
    .msGallery {
        margin-bottom: 0;
    }

    .fotorama {
        border: 1px solid #e5e5e5 !important;
    }
}
