@import "../icons/icons";
@font-face {
  font-family: "Exo2";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Exo2/Exo2Regular/Exo2Regular.eot");
  src: url("../fonts/Exo2/Exo2Regular/Exo2Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo2Regular/Exo2Regular.woff") format("woff"), url("../fonts/Exo2/Exo2Regular/Exo2Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Exo2";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Exo2/Exo2ExtraBold/Exo2ExtraBold.eot");
  src: url("../fonts/Exo2/Exo2ExtraBold/Exo2ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Exo2/Exo2ExtraBold/Exo2ExtraBold.woff") format("woff"), url("../fonts/Exo2/Exo2ExtraBold/Exo2ExtraBold.ttf") format("truetype");
}
