.header {
    min-height: 100px;
    background: url("../img/header_bg.png") repeat-x;
}

.header__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 100px;
}

.header__logo-link {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

.header__logo {
    width: 100px;
}

.header__center {
    display: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
}

.header__map {
    color: white;
}

.header__slogan {
    color: #ffa019;
}

.header__contacts {
    text-align: right;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: white;
    font-size: 1.2rem;
}

.header__tel {
    color: white;
    text-decoration: none;
}

.header__tel:hover {
    color: white;
    text-decoration: none;
}

@media (min-width: 576px) {
    .header__logo {
        width: 130px;
    }

    .header__center {
        display: block;
    }

    .header__map {
        color: white;
    }

    .header__slogan {
        font-size: 1.3rem;
    }

    .header__contacts {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .header {
        min-height: 127px;
    }

    .header__wrapper {
        min-height: 127px;
    }

    .header__logo {
        width: 180px;
    }

    .header__center {
        display: block;
    }

    .header__map {
        color: white;
    }

    .header__slogan {
        font-size: 2rem;
    }

    .header__contacts {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .header__logo {
        width: 250px;
    }

    .header__center {
        display: block;
    }

    .header__map {
        color: white;
    }

    .header__slogan {
        font-size: 2.5rem;
    }

    .header__contacts {
        font-size: 1.2rem;
    }
}
