@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.header{
  min-height: 127px;
  background: url("../img/header_bg.png") repeat-x;
  @include media-breakpoint-up(md){

  }

}

.logo{
  height: 150px;
  width: 150px;
}